/* Remueve el margen básico del menú */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Tamaño cuando la pantalla está 100% */
.row.content {height: 450px}

/* Color Capa 1 Fondo */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f2;
  height: 100%;
}

/* Color Capa 2 fondo */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* Pantallas pequeñas */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}
/*Sombra Form Productos*/
  .caja_sombra
{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
}
