html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
  color: gray;
  text-shadow: 2px 2px 4px gray;
  font-weight: bolder;
}

h2 {
  color: white;
    text-shadow: 2px 2px 4px #000000;
}

#container {
  min-height: 100%;
  position: relative;
}

#body {
  padding: 10px;
  padding-bottom: 135px;
}
/* Remueve el margen básico del menú */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Tamaño cuando la pantalla está 100% */
.row.content {height: 450px}

/* Color Capa 1 Fondo */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f2;
  height: 100%;
}

/* Color Capa 2 fondo */
#footer {
  background-color: #555;
  color: white;
  padding-top: 20px;
  position: absolute;
  bottom: -30;
  margin-left: 0;
  width: 100%;
  height: 165px;
}

/* Pantallas pequeñas */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}

.img-carousel {
  width: 100%;
}

.carousel-inner{
  width:100%;
  max-height: 470px !important;
}

.form-container {
  background-color: #00ade5;
  /* margin-top: 50px; */
  padding: 25px;
  border-radius: 25px;
  box-shadow: 5px 10px 8px #888888;
}

/* Inicio Estilos login */
#login_popup {
  display: none;
}

.panel h2{ color:#444444; font-size:30px; margin:0 0 8px 0;}
.panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}
.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 100%;
  padding: 50px 70px 70px 71px;
}

.login-form .form-group {
  margin-bottom:10px;
}
.login-form{ text-align:center;}
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}
.login-form  .btn.btn-primary {
  border-color: #f0ad4e;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.forgot {
  text-align: left; margin-bottom:30px;
}
.login-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
}
.back { text-align: left; margin-top:10px;}
.back a {color: #444444; font-size: 13px;text-decoration: none;}
/* Fin Estilos login */


#tooltips_content {
  display: none;
}

#Mapa_Cobertura {
  background-image: linear-gradient(to bottom right, red , blue);
  border-radius: 25px;
  box-shadow: 5px 10px 8px #888888;
  margin-bottom: 20px;
}